<div class="settings-box">
	<div>
		<p class="subheadline inline-block mb-0 white-color transparent">
			{{ category }}
		</p>
		<i class="{{ icon }} ms-2 purple-color"></i>
	</div>
	<p class="settings-box-header">{{ settings[setting] }}</p>
	<app-dropdown
		[options]="stringOptions"
		[selectedOption]="settings[setting] !== undefined ? settings[setting].toString() : null"
		(selectedOptionChange)="handleSelectedOptionChange($event)"
		[placeholder]="'Select a ' + category"
		[ariaLabel]="category + ' selector'"
	>
	</app-dropdown>
</div>