<div #consentPopup class="consent-popup hidden">
	<div class="center">
		<i class="fas fa-cookie-bite cookie-icon"></i>
		<div>
			<p class="bold">
				Cookie consent
			</p>
			<p>
				By clicking “Accept all cookies”, you agree Melody Creator can store cookies on your device and disclose information in accordance with our <a class="link" routerLink="/terms-and-conditions">Terms and Conditions</a>.
			</p>
		</div>
	</div>
	<div class="center mt-3">
		<button class="btn primary-button" (click)="acceptFn()">Accept all cookies</button>
	</div>
</div>