<div class="container">
	<div class="row">
		<div class="col-12">
			<h2 class="purple-color">Customize Your Melody</h2>
		</div>
		<div class="col-12">
			<p class="white-color">Fine-tune your composition parameters</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 mb-2 flex-end">
			<div class="custom-tooltip">
				<button id="resetSettings" [disabled]="isPlaying || isLoading" type="button" (click)="resetSettings()" class="btn btn-secondary">
					<i class="fas fa-undo white-color"></i>
				</button>
				<span class="tooltiptext">Reset to default settings</span>
			</div>
		</div>
		<div class="col-12">
			<form (ngSubmit)="onSubmit()" #settingsForm="ngForm">
				<div class="settings-grid">
					<app-setting category="Scale" icon="fas fa-music" [settings]="settings" setting="scale"
						[options]="scales" (selectedOption)="onScaleChange($event)">
					</app-setting>
					<app-setting category="Key" icon="fas fa-key" [settings]="settings" setting="key" [options]="keys"
						(selectedOption)="onKeyChange($event)">
					</app-setting>
					<app-setting category="Bars" icon="fas fa-hashtag" [settings]="settings" setting="bar"
						[options]="bars" (selectedOption)="onBarChange($event)">
					</app-setting>
					<app-setting category="Complexity" icon="fas fa-project-diagram" [settings]="settings"
						setting="complex" [options]="complexity" (selectedOption)="onComplexityChange($event)">
					</app-setting>
					<app-setting category="Beats" icon="fas fa-heartbeat" [settings]="settings" setting="beat"
						[options]="beats" (selectedOption)="onBeatChange($event)">
					</app-setting>
					<div class="settings-box">
						<div>
							<p class="subheadline inline-block mb-0 white-color transparent">
								Name
							</p>
							<i class="fas fa-pen ms-2 purple-color"></i>
						</div>
						<p class="settings-box-header">{{ settings.name }}</p>
						<input [(ngModel)]="settings.name" name="melodyName" type="text" class="form-control"
							id="inputMelodyName" aria-label="Melody Name" [disabled]="isLoading" />
					</div>
				</div>
                <div class="text-center mt-4">
					<button id="create" [disabled]="isPlaying || isLoading" type="submit" class="btn primary-button">
						@if (isLoading) {
							<span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
							Creating...
						} @else {
							Create
						}
					</button>
					<button id="playMelody" [disabled]="
              isPlaying || isLoading || !melody || melody.length === 0
            " type="button" (click)="play()" class="btn btn-light ms-3">
						Play
					</button>
					@if (userIsAuthenticated) {
					<button [disabled]="
              isPlaying || isLoading || !melody || melody.length === 0
            " type="button" (click)="save()" class="btn btn-success ms-3">
						Save
					</button>
					}
				</div>
			</form>
			@if (melody && melody.length > 0) {
			<div class="mt-3">
				<p>{{ melodyDescription }} <span class="bold">Note:</span> Generated melodies might resemble existing
					music. Please review them before commercial use.</p>
			</div>
			}
			@if (melody && melody.length > 0) {
			<div class="white-bg">
				<app-score></app-score>
			</div>
			}
		</div>
	</div>
</div>