<div class="row bgr-bottom">
	<div class="col my-auto">
		<div class="mb-3">
			<a href="https://www.facebook.com/profile.php?id=100071947813879" target="_blank" class="me-3 hyperlink"><i
					class="fa-brands fa-facebook-f fa-lg"></i></a>
			<a href="https://twitter.com/TorbenJan" target="_blank" class="me-3 hyperlink"><i
					class="fa-brands fa-x-twitter fa-lg"></i></a>
			<a href="https://www.instagram.com/steve_vaii73/" target="_blank" class="hyperlink"><i class="fa-brands fa-instagram fa-lg"></i></a>
		</div>
		<div class="mb-3">
			<a routerLink="/privacy-policy" class="hyperlink">Privacy Policy</a> |
			<a routerLink="/terms-and-conditions" class="hyperlink">Terms and Conditions</a> |
			<a routerLink="/commercial-license-agreement" class="hyperlink">Commercial License Agreement</a> |
			<a routerLink="/imprint" class="hyperlink">Imprint</a>
		</div>
		<div>
			<p class="mb-0">&copy; {{year}} by Torben Jan Müller</p>
		</div>
	</div>
</div>