.bgr-bottom {
	border-top: 1px solid var(--border-color);
	background-color: var(--background-color-3);
	height: 11.5rem;
	width: 100%;
	margin: 0;
	text-align: center;
}

a {
	text-decoration: inherit;
}