<nav class="navbar navbar-expand-lg navbar-custom">
	<div class="container-fluid">
		<a class="navbar-brand app-title bold" routerLink="/">Melody Creator</a>
		<button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
					<a class="nav-link" routerLink="/">Home</a>
				</li>
				@if (userIsAuthenticated) {
					<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
						<a class="nav-link" routerLink="/my-melodies">My Melodies</a>
					</li>
				}
				<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
					<a class="nav-link" routerLink="/features">Features</a>
				</li>
				<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
					<a class="nav-link" routerLink="/pricing">Pricing</a>
				</li>
				<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
					<a class="nav-link" routerLink="/frequently-asked-questions">FAQ</a>
				</li>
			</ul>
			@if (minutes < 1 && seconds < 31 && seconds> 0) {
				<div class="me-3">
					<span>For security reasons you will be logged out in <span class="white-color">{{seconds}}</span> seconds. </span>
					<a class="link" (click)="stayLoggedIn()">Stay logged in</a>
				</div>
			}
			<div class="center-v column-gap-20">
				@if (userIsAuthenticated) {
					<div class="custom-badge badge-light center-v column-gap-20">
						<div class="custom-tooltip hand" routerLink="/pricing">
							<i class="fas fa-coins fa-lg me-2" [ngClass]="isUsingDailyCredits ? 'grey-color' : 'purple-color'"></i>
							<span class="bold white-color">{{userCredits}}</span>
							<span class="tooltiptext">
								@if (isUsingDailyCredits) {
									Daily credits (refill in 24h)
								} @else {
									Purchase credits
								}
							</span>
						</div>
						<div class="custom-tooltip white-color hand" routerLink="/pricing">
							<span>{{userPlan}} Plan</span>
							<span class="tooltiptext">Update plan</span>
						</div>
					</div>
					<a class="white-color custom-tooltip" routerLink="/user-profile">
						<i class="fas fa-user fa-lg"></i>
						<span class="tooltiptext">User profile</span>
					</a>
					<button class="btn primary-button my-2 my-sm-0" (click)="onLogout()">Logout</button>
				}
				@else {
					<button class="btn primary-button my-2 my-sm-0" routerLink="/auth/login">Login</button>
					<button class="btn btn-light my-2 my-sm-0" routerLink="/auth/signup">Signup</button>
				}
			</div>
		</div>
	</div>
</nav>