<div class="row mx-0">
	<div class="col-12 header-bg">
		<app-floating-notes class="floating-notes-background"></app-floating-notes>
		<div class="container center-h">
			<div class="content text-center">
				<div class="d-flex flex-column align-items-center justify-content-center">
					<h1 class="header-title app-title pink-color"><span class="white-color">Unleash Your</span> Musical Creativity</h1>
					<p class="white-color">Create professional-quality melodies with our intuitive melody generator, <br>built to spark creativity and help you craft polished, studio-ready tracks with ease</p>
					<button class="btn primary-button mb-6" (click)="scrollToPosition(513)">Start Creating</button>
				</div>
				<img class="image-top" src="../../assets/images/cat_home_final.png" alt="Cat making music">
			</div>
		</div>
	</div>
</div>