<div class="row mx-0">
  <div class="col-12 header-bg">
    <app-floating-notes class="floating-notes-background"></app-floating-notes>
    <div class="container center-h">
      <div class="content text-center">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <h1 class="header-title app-title pink-color"><span class="white-color">Crafting the sound of</span> your imagination</h1>
          <p class="white-color">Discover the powerful features that make Melody Creator the ultimate
            tool <br>for musicians, producers, and creators</p>
          <button class="btn primary-button mb-6" (click)="navigateAndScroll()">Start Creating Now</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mx-0">
  <div class="col-12 dark-bg">
    <div class="container">
      <div class="row title-row">
        <div class="col-12">
          <h2 class="purple-color">Core Composing Features</h2>
        </div>
        <div class="col-12">
          <p class="white-color">Everything you need to create professional melodies</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="settings-grid">
            <div class="features-box">
              <div class="center-v">
                <h3 class="white-color">Multi-Scale Support</h3>
                <i class="purple-color fas fa-music big-icon"></i>
              </div>
              <p class="no-margin">
                Create melodies across 13 musical scales, including all seven modes, pentatonic scales, chromatic, whole
                tone, harmonic minor, and melodic minor.
              </p>
              <ul class="pl-20 white-color">
                <li>13 built-in scales from classical to modern</li>
                <li>Explore modes, pentatonics, and exotic sounds</li>
                <li>Discover new tonal colors with diverse scales</li>
              </ul>
            </div>

            <div class="features-box">
              <div class="center-v">
                <h3 class="white-color">Advanced Customization</h3>
                <i class="purple-color fas fa-wrench big-icon"></i>
              </div>
              <p class="no-margin">
                Customize your melodies with precise control over key, length, complexity, and time signature, choosing
                between 4/4 or 3/4 to shape your rhythmic feel.
              </p>
              <ul class="pl-20 white-color">
                <li>Define key and number of bars</li>
                <li>Complexity adjustment</li>
                <li>Switch between 4/4 and 3/4 meters</li>
              </ul>
            </div>

            <div class="features-box">
              <div class="center-v">
                <h3 class="white-color">Export & Share</h3>
                <i class="purple-color fas fa-cloud-download-alt big-icon"></i>
              </div>
              <p class="no-margin">
                Export your creations as MIDI or XML files to share with the world, collaborate with others, or easily import into your DAW for limitless music making.
              </p>
              <ul class="pl-20 white-color">
                  <li>MIDI export</li>
                  <li>XML export</li>
                  <li>DAW integration</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mx-0">
  <div class="col-12 dark-bg-2">
    <div class="container">
      <div class="row title-row">
        <div class="col-12">
          <h2 class="purple-color">Compare Our Composing Plans</h2>
        </div>
        <div class="col-12">
          <p class="white-color">We offer three flexible pricing plans, so there's something for everyone</p>
        </div>
      </div>
      <!-- Plan Comparison Table -->
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col" class="text-center">Free</th>
                  <th scope="col" class="center">Pro <div class="most-popular-badge ms-3">Most Popular</div></th>
                  <th scope="col" class="text-center">Enterprise</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Credits</td>
                  <td class="text-center">10 daily</td>
                  <td class="text-center">1000 monthly</td>
                  <td class="text-center">3000 monthly</td>
                </tr>
                <tr>
                  <td>Saved melodies</td>
                  <td class="text-center">Up to 50</td>
                  <td class="text-center">Up to 200</td>
                  <td class="text-center">Up to 500</td>
                </tr>
                <tr>
                  <td>Scales</td>
                  <td class="text-center">Major, Minor</td>
                  <td class="text-center">All scales</td>
                  <td class="text-center">All scales</td>
                </tr>
                <tr>
                  <td>Keys</td>
                  <td class="text-center">All keys</td>
                  <td class="text-center">All keys</td>
                  <td class="text-center">All keys</td>
                </tr>
                <tr>
                  <td>Bars</td>
                  <td class="text-center">2, 4</td>
                  <td class="text-center">2, 4, 8</td>
                  <td class="text-center">2, 4, 8</td>
                </tr>
                <tr>
                  <td>Complexity</td>
                  <td class="text-center">Low</td>
                  <td class="text-center">Low, Medium, High</td>
                  <td class="text-center">Low, Medium, High</td>
                </tr>
                <tr>
                  <td>Beats</td>
                  <td class="text-center">4/4</td>
                  <td class="text-center">All beats</td>
                  <td class="text-center">All beats</td>
                </tr>
                <tr>
                  <td>MIDI/XML Export</td>
                  <td class="text-center"><i class="fas fa-times text-danger"></i></td>
                  <td class="text-center"><i class="fas fa-check text-success"></i></td>
                  <td class="text-center"><i class="fas fa-check text-success"></i></td>
                </tr>
                <tr>
                  <td>Commercial License</td>
                  <td class="text-center"><i class="fas fa-times text-danger"></i></td>
                  <td class="text-center"><i class="fas fa-check text-success"></i></td>
                  <td class="text-center"><i class="fas fa-check text-success"></i></td>
                </tr>
                <tr>
                  <td>Email Support</td>
                  <td class="text-center"><i class="fas fa-times text-danger"></i></td>
                  <td class="text-center"><i class="fas fa-check text-success"></i></td>
                  <td class="text-center"><i class="fas fa-check text-success"></i></td>
                </tr>
                <tr>
                  <td>Price</td>
                  <td class="text-center"><strong>€0</strong></td>
                  <td class="text-center"><strong>€9</strong> / month*</td>
                  <td class="text-center"><strong>€19</strong> / month*</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-12 flex-end mt-1">
          <p class="no-margin">*one time payment, no subscription</p>
        </div>
        <div class="col-12 mt-2">
          <button class="btn primary-button" routerLink="/pricing">Choose Your Plan</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mx-0">
  <div class="col-12 dark-bg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="purple-color">Ready to Create Your Next Hit?</h2>
        </div>
        <div class="col-12">
          <p class="white-color">Join thousands of musicians who are already creating amazing melodies
            with our pro-level tools</p>
        </div>
        <div class="col-12 mt-3">
          <button class="btn primary-button" (click)="navigateAndScroll()">Start Creating Now</button>
        </div>
      </div>
    </div>
  </div>
</div>