<div class="container center-h">
	<div class="form-signin">
		<div class="text-center mb-32">
			<div class="icon-container">
				<i class="fas fa-user-plus sign-in-icon"></i>
			</div>
			<h1 class="h3">Create Your Account</h1>
			<p class="white-color">Start your musical journey today</p>
		</div>
		<form (submit)="onSignup(signupForm)" #signupForm="ngForm" class="features-box mb-32">
			<div>
				<label for="floatingEmail" class="form-label">Email address</label>
				<input name="email" type="email" ngModel class="form-control" id="floatingEmail" placeholder="E-Mail"
					#emailInput="ngModel" required>
				@if (!emailInput.valid && emailInput.touched) {
					<span class="password-hints">Please enter a valid email!</span>
				}
			</div>
			<div>
				<label for="floatingPassword" class="form-label">Password</label>
				<div class="relative">
					<input name="password" [type]="showPassword ? 'text' : 'password'" class="form-control password-input"
						id="floatingPassword" placeholder="Password" [(ngModel)]="password" #passwordInput="ngModel" required>
					<i [class]="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'" class="show-password-icon"
						(click)="togglePasswordVisibility()"></i>
				</div>
				@if (!passwordInput.valid && passwordInput.touched) {
					<span class="password-hints">Please enter a password!</span>
				}
				@if (password && password.length > 0) {
					<div class="password-strength mt-2">
						<progress [value]="passwordStrengthPercent" [max]="100"></progress>
					</div>
					<div class="password-hints">
						<ul class="mb-0">
							@if (!isEightCharachtersOrGreater) {
								<li>8 characters required.</li>
							}
							@if (!hasOneCapitalLetterOrMore) {
								<li>1 capital letter required.</li>
							}
							@if (!hasOneNumberOrMore) {
								<li>1 number required.</li>
							}
							@if (!hasOneSpecialCharacterOrMore) {
								<li>1 special character required.</li>
							}
						</ul>
					</div>
				}
			</div>
			<button class="w-100 btn btn-lg primary-button" type="submit" [disabled]="isLoading">Create Account</button>
			<div>
				<p class="no-margin">By signing up you agree to our <a routerLink="/terms-and-conditions" class="hyperlink">Terms and Conditions</a> and <a routerLink="/privacy-policy" class="hyperlink">Privacy Policy</a>.</p>
			</div>
			@if (isLoading) {
				<div class="text-center">
					<div class="spinner-border" role="status">
						<span class="sr-only">Loading...</span>
					</div>
				</div>
			}
			@if (!isAuthenticated) {
				<div class="text-center">
					<span class="danger-color">Invalid authentication credentials!</span>
				</div>
			}
		</form>
		<p class="mb-0 text-center">Already have an account? <a class="link" routerLink="/auth/login">Log In</a></p>
	</div>
</div>