<div class="container">
	<h1>Imprint</h1>
	
	<h2>Information according to &sect; 5 Telemedia Act</h2>
	<p>Melody Creator<br />
	Torben Jan M&uuml;ller<br />
	Am Hammersh&ouml;fchen 23<br />
	45219 Essen<br />
	Germany</p>
	
	<h2>Contact</h2>
	<p>Phone: +49 151 28472059<br />
	E-mail: torben.jan.mueller&#64;gmail.com</p>
	
	<h2>EU Dispute Resolution</h2>
	<p>The European Commission provides a platform for online dispute resolution (ODR): <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer" class="link">https://ec.europa.eu/consumers/odr/</a>.<br /> You can find our e-mail address in the imprint above.</p>
	
	<h2>Consumer dispute resolution/universal arbitration board</h2>
	<p>We are not willing or obliged to participate in dispute resolution proceedings before a consumer arbitration board.</p>
	
	<p>Source: <a href="https://www.e-recht24.de" target="_blank" class="link">https://www.e-recht24.de</a></p>
</div>
