.btn-auto {
	align-self: flex-start;
	width: auto;
}

progress::-webkit-progress-bar { background-color: var(--border-color); }
progress { background-color: var(--border-color); }

progress::-moz-progress-bar { background: var(--purple); }
progress::-webkit-progress-value { background: var(--purple); }
progress { color: var(--purple); }