<div class="container">
	<div class="row title-row">
		<div class="col-12">
			<div class="relative">
				<div>
					<h2 class="purple-color">User Profile</h2>
					<p class="white-color">View or change your profile details</p>
				</div>
				<div style="position: absolute; top: -6rem; left: 16rem;">
					<img style="height: 200px;" src="../../assets/images/cat_user-profile.png" alt="Friendly cat">
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="features-box mb-24">
				<div>
					<div class="center-v">
						<h4 class="white-color">Account Information</h4>
						<i class="purple-color fas fa-user medium-icon"></i>
					</div>
					<p class="mb-0">Change your email address</p>
				</div>
				<form (submit)="onSubmitNewEmail(editUserEmail)" #editUserEmail="ngForm">
					<div class="mb-20">
						<label for="inputEmail" class="form-label">Email address</label>
						<input
							type="email"
							class="form-control"
							id="inputEmail"
							name="email"
							[(ngModel)]="newEmail"
							(ngModelChange)="onEmailInput($event)"
							#emailInput="ngModel"
							required
						>
						@if (!emailInput.valid && emailInput.touched) {
							<span class="password-hints">Please enter a valid email!</span>
						}

						<div class="email-availability mt-1">
							@if (checkingEmail) {
								<span class="text-muted"><i class="fas fa-spinner fa-spin"></i> Checking...</span>
							}
							@if (emailAvailable === true) {
								<span class="success-color"><i class="fas fa-check"></i> {{ emailAvailabilityMessage }}</span>
							}
							@if (emailAvailable === false) {
								<span class="danger-color"><i class="fas fa-times"></i> {{ emailAvailabilityMessage }}</span>
							}
						</div>
					</div>
					<button type="submit" class="btn btn-success">Change email</button>
				</form>
				<div>
					<p class="mb-0">Member since</p>
					<p class="white-color mb-0">{{ user?.time | date: 'dd.MM.yyyy' }}</p>
				</div>
			</div>

			<div class="features-box mb-24">
				<div>
				<div class="center-v">
					<h4 class="white-color">Your current plan</h4>
					@switch (user?.plan) {
						@case ('free') {
							<i class="purple-color fas fa-gift medium-icon"></i>
						}
						@case ('pro') {
							<i class="purple-color fas fa-crown medium-icon"></i>
						}
						@case ('enterprise') {
							<i class="purple-color fas fa-building medium-icon"></i>
						}
						@default {
							<i class="purple-color fas fa-crown medium-icon"></i>
						}
					}
				</div>
					<p class="mb-0">Adjust your plan anytime</p>
				</div>
				<div class="grid-three-columns">
					<div>
						<p class="mb-0">Your plan</p>
						<p class="white-color mb-0">{{ userPlan }} Plan</p>
					</div>
					<div>
						<p class="mb-0">Remaining credits</p>
						@if (user?.plan === 'free' && user?.creditsPermanent === 0) {
							<p class="white-color mb-0">
								{{ user?.creditsDaily ?? '—' }} 
								<span class="custom-tooltip">
									<i class="fas fa-clock ms-1 grey-color"></i>
									<span class="tooltiptext">Using daily credits</span>
								</span>
							</p>
						} @else {
							<p class="white-color mb-0">{{ user?.creditsPermanent ?? '—' }}</p>
						}
					</div>
					<div>
						<p class="mb-0">Plan valid until</p>
						<p class="white-color mb-0">
							{{ user?.planValidUntil ? (user?.planValidUntil | date: 'dd.MM.yyyy HH:mm:ss') : '—' }}
						</p>
					</div>
				</div>
				<div class="grid-three-columns">
					<div>
						@if (user?.plan !== 'enterprise') {
							<button class="btn primary-button" routerLink="/pricing">Update Plan</button>
						}
					</div>
					@if ((user?.plan === 'pro' || user?.plan === 'enterprise') && user?.planValidUntil && isDateInFuture(user?.planValidUntil)) {
						<div>
							<button class="btn btn-success" (click)="openPurchaseCreditsModal()">Purchase Credits</button>
						</div>
					}
				</div>
			</div>

			<div class="features-box mb-24">
				<div>
					<div class="center-v">
						<h4 class="white-color">Password</h4>
						<i class="purple-color fas fa-lock medium-icon"></i>
					</div>
					<p class="mb-0">Update your password to keep your account secure</p>
				</div>
				<form (submit)="onSubmitNewPassword(editUserPassword)" #editUserPassword="ngForm">
					<div class="mb-20"> 
						<label for="inputCurrentPassword" class="form-label">Current password</label>
						<div class="relative">
							<input
								[type]="showPassword ? 'text' : 'password'"
								class="form-control password-input"
								id="inputCurrentPassword"
								name="password"
								[(ngModel)]="currentPassword"
								#passwordInput="ngModel"
								required
							>
							<i [class]="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'" class="show-password-icon"
								(click)="togglePasswordVisibility()"></i>
						</div>
						@if (!passwordInput.valid && passwordInput.touched) {
							<span class="password-hints">Please enter your current password!</span>
						}
					</div>
					<div class="mb-20"> 
						<label for="inputNewPassword" class="form-label">New password</label>
						<div class="relative">
							<input
								[type]="showNewPassword ? 'text' : 'password'"
								class="form-control"
								id="inputNewPassword"
								name="newpassword"
								[(ngModel)]="newPassword"
								#newPasswordInput="ngModel"
								required
							>
							<i [class]="showNewPassword ? 'fas fa-eye' : 'fas fa-eye-slash'" class="show-password-icon" (click)="toggleNewPasswordVisibility()"></i>
						</div>
						@if (!newPasswordInput.valid && newPasswordInput.touched) {
							<span class="password-hints">Please enter a new password!</span>
						}
					</div>
					<!-- <button type="submit" class="btn btn-success" [disabled]="isStringEmpty(currentPassword) || isStringEmpty(newPassword)">Change password</button> -->
					<button type="submit" class="btn btn-success">Change password</button>
				</form>
				@if (passwordChangeRequestsLimitReached) {
					<div class="badge-orange alert-box" role="alert">
						<p class="mb-0">
							You have reached your limit for password change requests. Please contact our customer support team, who will be happy to help you: <a href="mailto:torben.jan.mueller@gmail.com" class="hyperlink-white">Customer Support</a>
						</p>
					</div>
				}
			</div>
			<div class="features-box border-danger">
				<div>
					<div class="center-v">
						<h4 class="danger-color">Danger Zone</h4>
						<i class="danger-color fas fa-trash-alt medium-icon"></i>
					</div>
					<p class="mb-0">
						Permanently delete your account and all associated data
					</p>
				</div>
				<!-- <p class="subheadline">Delete Account</p> -->
				<button type="button" class="btn btn-danger btn-auto" (click)="openConfirmationDialog()">Delete Account</button>
			</div>
		</div>

		<div class="col-md-6">
			<div class="row mb-24">
				<div class="col-md-6">
					<div class="features-box">
						<div>
							<div class="center-v flex-space-between">
								<p class="dashboard-number no-margin">{{totalMelodies}}</p>
								<i class="fas fa-music fa-2x purple-color"></i>
							</div>
							<p class="dashboard-text no-margin">Melodies generated<p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="features-box">
						<div>
							<div class="center-v flex-space-between">
								<p class="dashboard-number no-margin">{{numberOfModes}}</p>
								<span class="material-symbols-outlined fs-38 mrn-5px purple-color">piano</span>
							</div>
							<p class="dashboard-text no-margin">Scales used<p>
						</div>
					</div>
				</div>
			</div>
			<div class="features-box mb-24">
				<div>
					<div class="center-v">
						<h4 class="white-color">Scales</h4>
						<i class="purple-color fas fa-poll-h medium-icon"></i>
					</div>
					<p class="mb-0">Your most used musical scales</p>
				</div>
				@if (numberOfModes === 0) {
					<p class="no-margin">No scales have been used yet.</p>
				}
				@for (mode of modes; track mode) {
					<div>
						<div class="flex-space-between">
							<p class="white-color no-margin">{{mode[0]}}</p>
							<p class="white-color no-margin">{{mode[1]}}</p>
						</div>
						<progress [value]="mode[1]" [max]="modesMaxValue"></progress>
					</div>
				}
			</div>
			<div class="features-box">
				<div>
					<div class="center-v">
						<h4 class="white-color">Recent Activity</h4>
						<i class="purple-color fas fa-chart-simple medium-icon"></i>
					</div>
					<p class="mb-0">Your latest melody creations</p>
				</div>
				@if (totalMelodies === 0) {
					<p class="no-margin">No melodies have been created yet.</p>
				}
				@for (melody of latestMelodies; track melody) {
					<div class="mb-1">
						<p class="no-margin">Created melody: <span class="white-color">{{melody?.settings.name}}</span></p>
						<p class="no-margin">{{ melody?.time | date: 'dd.MM.yyyy HH:mm:ss' }}</p>
					</div>
				}
			</div>
		</div>
	</div>
</div>