<div class="container">
  <div class="row title-row">
    <div class="col-12">
      <h2 class="purple-color">Email Verification</h2>
    </div>
    <div class="col-12">
      <p class="white-color">Please verify your email to complete the registration process</p>
    </div>
  </div>
  <p [innerHTML]="statusHtml ?? statusMessage"></p>
  @if (token && userId) {
    <div class="mt-3">
      <button class="btn btn-success" (click)="confirmVerification()" [disabled]="isVerifying">
        @if (!isVerifying) {
          <span>Confirm</span>
        }
        @if (isVerifying) {
          <span>Verifying...</span>
        }
      </button>
    </div>
  }
</div>
